@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Fonts --- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 1094px;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    color: white;
}
.container {
    margin: 70px 280px;
}

#span {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}


/* --------------------- NAVBAR BARTHEL ------------------------------------*/


/* .nav {
    background-color: rgb(17, 53, 65);
    border-bottom: 5px solid rgb(130, 202, 22);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    text-align: center;
} */


.footer {
    margin-top: 100px;
    width: 100%;
    background-color: rgb(17, 53, 65);
    border-top: 5px solid rgb(130, 202, 22);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}






/* ------------------------------ CARDS CSS ---------------------------------*/

.row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    min-height: 50px;
    column-gap: 0px;
    margin-bottom: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}










.blank {
    background-color: white;
}
.row-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 50px;
    column-gap: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    position: sticky;
    top: 0px;
}

.card {
    background-color: rgb(237, 251, 255);
    transition: ease-in-out 0.1ms;    
}
.header {
    background-color: rgb(38, 62, 70);
    color: white;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-1 {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.p-1-rass {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    min-height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;

}
.p-2 {
    margin-bottom: 10px;
}
.p-3 {
    font-size: 12px;
    text-align: center;
    padding: 0px 5px 10px 10px;
}
span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}

.level-7 {
    border-bottom-left-radius: 5px;
}
.level-1 {
    border-bottom-right-radius: 5px;
}

/* ----- Cards on hover ------- */

.level-15:hover {
    background-color: rgb(89, 177, 89);
    cursor: pointer;
}

.level-10:hover {
    background-color: rgb(143, 228, 143);
    cursor: pointer;
}
.level-5:hover {
    background-color: rgb(231, 174, 89);
    cursor: pointer;
}
.level-3:hover {
    background-color: rgb(226, 159, 57);
    cursor: pointer;
}
.level-2:hover {
    background-color: rgb(240, 164, 164);
    cursor: pointer;
}
.level-0:hover {
    background-color: rgb(226, 104, 104);
    cursor: pointer;
}




/* ----- Left cards ------- */
.first-card {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-weight: bold;
    /*background-color: rgb(35, 112, 99);*/
    background-color: rgb(35, 93, 112);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    min-height: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}


.p-2 {
    left: 10px;
    color: white;
    border-radius: 50%;
    text-decoration: underline;
    text-align: center;

}

.score18, .score17, .score16, .score15, .score14 {
    background-color: rgb(255, 242, 244);
}
/* ----- Header ------ */


.btn-success {
    background-color: rgba(35, 100, 112, 0.911);
    color: white;
}

.btn-home {
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color ease-in-out 0.1s;
    bottom: 30px;
    left: 80px;
    font-weight: bold;
}
.btn-home:hover {
    background-color: rgb(14, 116, 110);
}
