.nav {
    background-color: rgb(38, 62, 70);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.mif {
    margin-left: 100px;
}
.escala {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
}

.footer {
    margin-top: 100px;
    width: 100%;
    background-color: rgb(38, 62, 70);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}