.nav {
    background-color: rgb(35, 93, 112);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    text-align: center;
}


.footer {
    margin-top: 100px;
    width: 100%;
    background-color: rgb(35, 93, 112);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}