.result-container {
    margin: 50px 70px;
}
.result-box {
    display: none;
    justify-content: space-between;
    background-color: rgb(182, 225, 252);
    border-radius: 5px;
    margin: 20px 0px;
    min-height: 30px;
}
.result-container > h4 {
    text-align: center;
    font-size: 30px;

}
.show-result {
    display: flex;
}

.result-box > .copy {
    background-color: darkcyan;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result-box > .copy:hover {
    background-color: rgb(1, 114, 114);
    cursor: pointer;
}
.result-1, .result-2, .result-3, .result-4 {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10px 15px;
}

