@import url("./navbar.css");
@import url("./card.css");
@import url("./result.css");
@import url("./modal.css");

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* --- Layout --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Fonts --- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 1094px;
    background-color: white;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    color: white;
}
.container {
    margin: 70px 80px;
}

.btn-home {
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color ease-in-out 0.1s;
    bottom: 30px;
    left: 80px;
    font-weight: bold;
}
.btn-home:hover {
    background-color: rgb(14, 116, 110);
}

.carol {
    margin-top: 0;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 0px;
}
